body{background-color:#FF9999}
hr{color: papayawhip;
    border-style: none;
    border-top-style:dotted ;
    border-width: 5px;
    width: 30%;
    }
h2{color: papayawhip;}
p{color:#2b2727 ;}